{%- assign ss = section.settings -%}
<style>
    .mc_review-slide {
        padding: 80px 0;
        background-color: #ffffff;
    }
    .mc_review-slide .title {
        font-weight: 900;
        font-size: 48px;
        font-style: italic;
        line-height: 1.2;
        color: #000000;
    }
    .mc_review-slide .title .image {
        height: 26px;
        width: auto;
        object-fit: contain;
        position: absolute;
        left: -2px;
        bottom: -4px;
    }
    .mc_review-slide .more {
        --button-color: #fff;
        --button-size: 32px;
        --button-width: 201px;
    }
    .mc_review-slide .more:hover {
        --button-color: #d30000;
    }
    .mc_review-slide .review-wrapper {
        padding-top: 58px;
        min-height: 200px;
    }
    @media screen and (min-width: 1024px) and (max-width: 2600px) {
        .mc_review-slide .review-wrapper {
            padding-right: 0 !important;
        }
    }
    .mc_review-slide .__loading__ .review-items:before {
        display: block;
    }
    .mc_review-slide .review-items {
        gap: 0 20px;
    }
    .mc_review-slide .review-items:before {
        content: "";
        width: 100%;
        height: 100%;
        background: #ffffff;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
    }
    .mc_review-slide .review-item {
        border-radius: 8px;
        aspect-ratio: 0.737;
    }
    .mc_review-slide .review-item:hover .info-wrap {
        transform: translateY(0);
    }
    .mc_review-slide .review-item .info-wrap {
        left: 0;
        bottom: 0;
        padding: 28px 30px 56px;
        background: rgba(0, 0, 0, 0.55);
        transform: translateY(100%);
        transition: transform 0.4s;
    }
    .mc_review-slide .review-item .score-items {
        padding-top: 8px;
        --score-size: 24px;
    }
    .mc_review-slide .review-item .name {
        font-weight: 800;
        font-size: 32px;
        font-style: italic;
        color: #ffffff;
        line-height: 1.2;
    }
    .mc_review-slide .review-item .intro {
        margin-top: 30px;
        font-size: 24px;
        line-height: 1.5;
        color: #ffffff;
        word-break: break-word;
        height: 144px;
    }
    .mc_review-slide .review-item .nickname {
        color: #fff;
        font-size: 24px;
        font-style: italic;
        font-weight: 800;
        line-height: 1.1;
    }
    .mc_review-slide .review-item .text {
        color: #c3c3c3;
        font-size: 12px;
        line-height: 1.2;
        padding-top: 3px;
    }
    .mc_review-slide .review-item .avatar-photo {
        margin-right: 15px;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        font-size: 28px;
        font-weight: bold;
        color: #000000;
    }
    .mc_review-slide .review-item .avatar-box {
        padding-top: 42px;
    }
    .mc_review-slide .control-box {
        padding-top: 16px;
        gap: 0 20px;
    }
    .mc_review-slide .slider-button {
        width: 48px;
        height: 48px;
    }
    .mc_review-slide .slider-button .image {
        object-fit: fill;
        transition: transform 0.3s;
    }
    .mc_review-slide .slider-button:hover .image {
        transform: scale(1.05);
    }
    .mc_review-slide .slider-button[disabled] {
        opacity: 0.9;
    }
    .mc_review-slide .slider-button[disabled] .image {
        filter: grayscale(1);
    }
    .mc_review-slide .prev-button {
        transform: rotateY(180deg);
    }
    @media screen and (max-width: 1600px) {
        .mc_review-slide {
            padding: 64px 0;
        }
        .mc_review-slide .title {
            font-size: 38px;
        }
        .mc_review-slide .title .image {
            height: 30px;
            right: -19px;
            bottom: -4px;
        }
        .mc_review-slide .more {
            --button-size: 26px;
            --button-height: 45px;
            --button-width: 161px;
        }
        .mc_review-slide .review-wrapper {
            padding-top: 46px;
        }
        .mc_review-slide .review-item {
            border-radius: 6px;
        }
        .mc_review-slide .review-item .info-wrap {
            left: 0;
            bottom: 0;
            padding: 1.4583333333vw 1.5625vw 2.9166666667vw;
        }
        .mc_review-slide .review-item .score-items {
            --score-size: 1.25vw;
        }
        .mc_review-slide .review-item .name {
            font-size: 1.6666666667vw;
        }
        .mc_review-slide .review-item .intro {
            margin-top: 1.5625vw;
            font-size: 1.25vw;
            height: 7.5vw;
        }
        .mc_review-slide .review-item .nickname {
            font-size: 1.25vw;
        }
        .mc_review-slide .review-item .text {
            padding-top: 0.15625vw;
        }
        .mc_review-slide .review-item .avatar-photo {
            margin-right: 0.78125vw;
            width: 2.7083333333vw;
            height: 2.7083333333vw;
            font-size: 1.4583333333vw;
        }
        .mc_review-slide .review-item .avatar-box {
            padding-top: 2.1875vw;
        }
    }

    @media screen and (max-width: 1023px) {
        .mc_review-slide {
            padding: 2.5rem 0;
        }

        .mc_review-slide .title {
            font-size: 1.5rem;
            width: 14.375rem;
        }

        .mc_review-slide .title .image {
            height: 0.8125rem;
            width: auto;
            object-fit: contain;
            position: absolute;
            left: -0.0625rem;
            bottom: 1.8125rem;
        }

        .mc_review-slide .more {
            --button-size: 1rem;
            --button-height: 1.8125rem;
            --button-width: 6.28125rem;
        }

        .mc_review-slide .review-wrapper {
            padding-top: 1.5625rem;
        }

        .mc_review-slide .review-items {
            gap: 0 0.625rem;
        }

        .mc_review-slide .review-item {
            aspect-ratio: 0.65;
            background: #000000;
        }

        .mc_review-slide .review-item .image {
            height: 16.34375rem;
        }

        .mc_review-slide .review-item .info-wrap {
            position: static;
            padding: 0.5rem 0.9375rem 0;
            background: transparent;
            transform: translateY(0);
        }

        .mc_review-slide .review-item .score-items {
            padding-top: 0.25rem;
            --score-size: 10px;
        }

        .mc_review-slide .review-item .name {
            font-size: 0.875rem;
        }

        .mc_review-slide .review-item .intro {
            margin-top: 0.5rem;
            font-size: 0.5625rem;
            line-height: 1.2;
            height: 2.6875rem;
        }

        .mc_review-slide .review-item .nickname {
            font-size: 0.625rem;
        }

        .mc_review-slide .review-item .text {
            font-size: 0.5625rem;
            padding-top: 0.09375rem;
        }

        .mc_review-slide .review-item .avatar-photo {
            margin-right: 0.46875rem;
            width: 1.625rem;
            height: 1.625rem;
            font-size: 0.9375rem;
        }

        .mc_review-slide .review-item .avatar-box {
            padding-top: 0.4375rem;
        }

        .mc_review-slide .control-box {
            padding-top: 0.625rem;
            gap: 0;
        }

        .mc_review-slide .slider-button {
            display: none;
        }

        .mc_review-slide .progress {
            height: 2px;
            background: #D9D9D9;
        }

        .mc_review-slide .progress .bar {
            transform: translateX(-100%);
            border-radius: 4px;
            background: #A90000;
            transition: transform 0.3s;
        }
    }

    {% render 'page-wrap-style' %}
</style>
<div class="mc_review-slide overflow-hidden section--page" id="{{ section.id }}-slide">
    <div class="page-width">
        <div class="head-box flex-between">
            <div class="title relative">
                <div class="relative z-1{% if ss.title_gradient_color != blank %} text-gradient{% endif %}"
                     style="{% if ss.title_gradient_color != blank %}--background: {{ ss.title_color.rgb }}; --gradient: {{ ss.title_gradient_color }};{% else %}color: {{ ss.title_color }};{% endif %}">{{ ss.title }}</div>
                {%- if ss.title_decorate_image != blank -%}
                    {%- render 'global-image', image: ss.title_decorate_image, image_size: 300 -%}
                {%- endif -%}
            </div>
            {%- if ss.show_button -%}
                <a
                    hover
                    style="--button-color: {{ ss.button_color }}; --button-hover-color: {{ ss.button_hover_color }};"
                    href="{{ ss.url }}" class="more image-button relative flex-center">
                    {% render 'global-image',
                        image: ss.button_bg_image,
                        image_size: 300
                    %}
                    <span class="text z-1 relative">{{ ss.button_text }}</span>
                </a>
            {%- endif -%}
        </div>
    </div>
    <div class="page-width relative review-wrapper __loading__" node-name="box">
        <div node-name="slider" class="review-items w-full flex-left">
            {%- for block in section.blocks -%}
                {%- assign bs = block.settings -%}
                <div class="review-item overflow-hidden relative">
                    {% render 'global-image', image: bs.comment_image, image_size: 450 %}
                    <div class="info-wrap absolute z-1 w-full">
                        {%- if bs.title != blank -%}
                            <div class="name">{{ bs.title }}</div>
                        {%- endif -%}
                        {% render 'icon-score', score: bs.score %}
                        <div style="--line-clamp-count: 4;" class="intro line-clamp">
                            {{ bs.intro }}
                        </div>
                        <div class="avatar-box flex-left">
                            {% render 'global-image', image: bs.avatar, image_size: 100 %}
                            <div class="info">
                                <div class="nickname">{{ bs.author }}</div>
                                <div class="text">{{ bs.date }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
    <div class="page-width">
        <div node-name="control" class="control-box flex-right w-full">
            <button class="prev-button slider-button flex-center">
                <img loading="lazy" alt="Slide Prev Button"
                     src="https://cdn.shopify.com/s/files/1/0682/5646/5034/files/slide-button-icon.png?v=1769744963&width=70"
                     class="image"/>
            </button>
            <button class="next-button slider-button flex-center">
                <img loading="lazy" alt="Slide Next Button"
                     src="https://cdn.shopify.com/s/files/1/0682/5646/5034/files/slide-button-icon.png?v=1769744963&width=70"
                     class="image"/>
            </button>
            <div class="progress overflow-hidden w-full mobile-done">
                <div class="bar w-full h-full" node-name="bar">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
<script>
    $heybike.on('DOMContentLoaded', () => {
        const node = document.getElementById("{{ section.id }}-slide");
        const nodeList = $heybike.getNodeList(node);

        const getDoubleNum = (num) => {
            if (num < 10) {
                return `0${num}`;
            }

            return num;
        };

        const getScoreHTML = (score) => {
            const svg1 = `<path d="M944.1 457.4c29.8-29.8 13.6-81.1-27.8-88.1l-219.6-37c-16.9-2.8-31.3-14-38.4-29.7l-94-208.3c-18-40-74-40.7-93.1-1.3l-99.4 205.3c-7.5 15.5-22.3 26.3-39.3 28.7l-220.3 30.5C70.7 363.3 53 414.2 82 444.8L241.9 614c11.3 12 16.3 28.6 13.4 44.9l-40.9 232.5c-7.5 42.6 37 75.2 74.9 54.9l193.8-104c15.6-8.4 34.3-8.1 49.6 0.7l190.9 109.5c37.4 21.4 82.7-10 76.4-52.8l-34.8-233.4c-2.4-16.4 3-32.9 14.6-44.6l164.3-164.3z" fill="#FFC107"></path>`;
            const svg2 = `<path d="M789.333333 981.333333c-8.533333 0-12.8 0-21.333333-4.266666l-256-136.533334-256 136.533334c-17.066667 4.266667-34.133333 4.266667-46.933333-4.266667-12.8-8.533333-21.333333-25.6-17.066667-42.666667l51.2-285.866666-209.066667-204.8c-12.8-12.8-17.066667-29.866667-12.8-42.666667 8.533333-12.8 21.333333-25.6 38.4-25.6l285.866667-42.666667 128-260.266666c12.8-29.866667 64-29.866667 76.8 0l128 260.266666 285.866667 42.666667c17.066667 0 29.866667 12.8 38.4 25.6 4.266667 17.066667 0 34.133333-12.8 42.666667l-209.066667 204.8 51.2 285.866666c4.266667 17.066667-4.266667 34.133333-17.066667 42.666667-8.533333 4.266667-17.066667 8.533333-25.6 8.533333zM512 750.933333c8.533333 0 12.8 0 21.333333 4.266667l200.533334 106.666667-38.4-221.866667c-4.266667-12.8 4.266667-29.866667 12.8-38.4l162.133333-157.866667-226.133333-34.133333c-12.8 0-25.6-12.8-34.133334-21.333333L512 183.466667 413.866667 384c-8.533333 12.8-21.333333 21.333333-34.133334 25.6l-226.133333 34.133333L315.733333 597.333333c8.533333 8.533333 12.8 25.6 12.8 38.4l-38.4 221.866667 200.533334-106.666667h21.333333z" fill="#FFC107"></path>`;
            const scoreList = [`<ul class="score-items flex-left">`];
            const max = 5 - score;
            const setScoreList = (num, svg) => {
                for (let i = 0; i < num; i++) {
                    scoreList.push(`<li class="score-item flex-center"><svg
                    class="w-full h-full"
                    viewBox="0 0 1024 1024"
                    xmlns="http://www.w3.org/2000/svg"
                    width="15"
                    height="15">${svg}</svg></li>`)
                }
            }

            setScoreList(score, svg1);
            max > 0 && setScoreList(max, svg2);
            scoreList.push(`</ul>`);
            return scoreList.join('');
        }

        function onReviewList() {
            fetch('https://api.judge.me/api/v1/widgets/all_reviews_page?api_token=I8Y3RppWygWQ0JqBfCYLmnEBQkg&shop_domain=garpsz-r9.myshopify.com&review_type=product-reviews&page=1', {
                method: 'GET'
            }).then((response) => response.json()).then((data) => {
                const parsedHTML = new DOMParser().parseFromString(data.all_reviews, 'text/html');
                const reviewList = [];
                const photo = `{%- render 'icon' with 'header_account' -%}`;
                Array.from(parsedHTML.querySelectorAll('.jdgm-rev')).forEach((node) => {
                    const images = Array.from(node.querySelectorAll('.jdgm-rev__pic-img')).map((img) => {
                        return `<img alt="" src="${img.getAttribute('data-src').replace('w=160', 'w=700')}" class="image" loading="lazy" />`
                    });
                    if (images.length > 0) {
                        const score = Number(node.querySelector('.jdgm-rev__rating').getAttribute('data-score') || 5);
                        const date = new Date(node.querySelector('.jdgm-rev__timestamp').getAttribute('data-content'));
                        const dateStr = `${getDoubleNum(date.getMonth())}/${getDoubleNum(date.getDay())}/${date.getFullYear()}`;
                        const author = node.querySelector('.jdgm-rev__author').innerText;
                        const shop = node.querySelector('.jdgm-rev__verification-badge-img')?.getAttribute('data-src') || '';
                        const title = node.querySelector('.jdgm-rev__title').innerText;
                        const content = node.querySelector('.jdgm-rev__body').innerHTML;
                        const product = node.querySelector('.jdgm-rev__prod-link');

                        reviewList.push(`<div class="review-item tns-item overflow-hidden relative">
                            ${images[0]}
                            <div class="info-wrap absolute z-1 w-full">
                                <div class="name">${title}</div>
                                ${getScoreHTML(score)}
                                <div style="--line-clamp-count: 4;" class="intro line-clamp">
                                    ${content}
                                </div>
                                <div class="avatar-box flex-left">
                                    <div class="avatar-photo overflow-hidden flex-center relative">
                                        <img alt="Avatar" src="https://cdn.shopify.com/s/files/1/0682/5646/5034/files/review-avatar.png?v=1769745798" class="image absolute" />
                                        <span class="relative z-1">${author.charAt(0).toLocaleUpperCase()}</span>
                                    </div>
                                    <div class="info">
                                        <div class="nickname">${author}</div>
                                        <div class="text">${dateStr}</div>
                                    </div>
                                </div>
                    </div></div>`);
                    }
                });
                $heybike.inView(node, () => {
                    nodeList.slider.innerHTML = nodeList.slider.innerHTML + reviewList.join('');
                    $heybike.load({type: 'TNS'}, () => {
                        let timer = null, current = null;
                        const onChange = (obj) => {
                            current = obj;
                            if ($heybike.isMobile) {
                                const progress = (1 - (obj.index + 1) / obj.slideCount) * 100;
                                nodeList.bar.style.transform = `translateX(-${progress}%)`;
                            }
                        }
                        const slider = tns({
                            container: nodeList.slider,
                            loop: false,
                            items: 1.4,
                            nav: false,
                            speed: 500,
                            preventScrollOnTouch: true,
                            mouseDrag: true,
                            controls: true,
                            controlsContainer: nodeList.control,
                            responsive: {
                                900: {
                                    items: {{ ss.slide_item | round }}
                                },
                                1440: {
                                    items: {{ ss.slide_item }}
                                }
                            },
                            onInit() {
                                nodeList.box.classList.remove('__loading__');
                                setTimeout(() => {
                                    onChange(slider.getInfo());
                                    {%- if ss.auto_slide -%}
                                    onStart();
                                    {%- endif -%}
                                }, 80);
                            }
                        });

                        slider.events.on('transitionEnd', () => {
                            onChange(slider.getInfo());
                            {%- if ss.auto_slide -%}
                            setTimeout(() => {
                                onStart();
                            }, 10);
                            {%- endif -%}
                        });

                        {%- if ss.auto_slide -%}
                        const onStart = () => {
                            clearTimeout(timer);
                            timer = setTimeout(() => {
                                if (current?.nextButton.hasAttribute('disabled')) {
                                    slider.goTo('first');
                                } else {
                                    slider.goTo('next');
                                }
                            }, {{ ss.duration | times: 1000 }});
                        }
                        const onEnd = () => {
                            clearTimeout(timer);
                        }

                        $heybike.inView(node, () => {
                            onStart();
                            return () => {
                                onEnd();
                            }
                        });

                        nodeList.slider.addEventListener('mouseenter', () => {
                            if ($heybike.isMobile) {
                                return false;
                            }
                            onEnd();
                        });

                        nodeList.slider.addEventListener('mouseleave', () => {
                            if ($heybike.isMobile) {
                                return false;
                            }
                            onStart();
                        });
                        {%- endif -%}
                    });
                }, {margin: '200px 0px 200px 0px'});
            })
        }

        onReviewList();
    });
</script>
{% schema %}
{
  "name": "MC Review Slide",
  "class": "mc--main",
  "tag": "section",
  "presets": [
    {
      "name": "MC Review Slide"
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "page_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "number",
      "id": "page_top",
      "label": "Padding Top"
    },
    {
      "type": "number",
      "id": "page_bottom",
      "label": "padding Bottom"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "default": "<p>YOZMA ers’ Highlights</p>"
    },
    {
      "label": "Title decorate image",
      "type": "image_picker",
      "id": "title_decorate_image"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "title_bold_color",
      "label": "Title Bold color",
      "default": "#000000"
    },
    {
      "type": "color_background",
      "id": "title_gradient_color",
      "label": "Title gradient color"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "label": "Show button",
      "type": "checkbox",
      "id": "show_button",
      "default": true
    },
    {
      "label": "Button background color",
      "type": "image_picker",
      "id": "button_bg_image"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Read All"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button text color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "button_hover_color",
      "label": "Button text hover color",
      "default": "#d30000"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    },
    {
      "type": "header",
      "content": "Slide"
    },
    {
      "type": "checkbox",
      "id": "auto_slide",
      "label": "Auto slide",
      "default": true
    },
    {
      "type": "range",
      "id": "duration",
      "label": "Slide speed duration",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "s",
      "default": 3
    },
    {
      "type": "text",
      "id": "slide_item",
      "label": "Desktop slide item",
      "default": "3.4"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Customer review",
      "settings": [
        {
          "type": "image_picker",
          "id": "comment_image",
          "label": "Comment Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "DREAM MACHIN"
        },
        {
          "type": "range",
          "id": "score",
          "label": "Score",
          "min": 1,
          "max": 5,
          "step": 1,
          "unit": "s",
          "default": 5
        },
        {
          "type": "richtext",
          "id": "intro",
          "label": "Intro"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "Avatar"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Date",
          "default": "10/03/2025"
        }
      ]
    }
  ]
}
{% endschema %}
